.footer {
  background: var(--color-emerald); 
  padding: 100px 0;
  color: #fffef8;

  &__menu {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 80px;
    align-items: start;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      gap: 50px;
      text-align: center;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .footer__title {
      font-size: 3.5rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;

      @media (max-width: 480px) {
        font-size: 2.2rem;
      }
    }

    .footer__description {
      font-size: 1.25rem;
      font-weight: 400;
      opacity: 0.9;
      max-width: 500px;

      @media (max-width: 992px) {
        margin: 0 auto;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      justify-content: center;
    }

    .footer__button {
      padding: 14px 40px;
      border-radius: 12px;
      color: white;
      font-size: 1.1rem;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-3px);
        filter: brightness(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__info {
    padding-top: 15px;

    .footer__infoTitle {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-style: normal;
  }

  &__link {
    color: #fffef8;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 60px 0;
  }
}