.tour-details {
    background: #fffef8;

    &__main,
    &__grid {
        display: flex;
        flex-direction: column;
    }

    &__main {
        gap: 20px;

    }

    &__unTitle {
        padding-top: 50px;
        font-size: 2.5rem;
        padding-bottom: 50px;

        @media (max-width: 480px) {
            font-size: 2rem;
        }
    }
}

.tour-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding-top: 40px;

    &__title {
        font-size: 1.3rem;
        transition: .6s ease-in-out;

        &.isActive {
            color: #315a51;
        }

        @media (max-width: 480px) {
            font-size: 1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 0;
        padding-bottom: 0;
        overflow: hidden;
        transition: .6s ease-in-out;

        &.isActive {
            max-height: 500px;
            padding-bottom: 40px;
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 480px) {
            gap: 50px;
        }
    }

}

.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mySwiper {
    width: 100%;
    height: 100%;

    :global(.swiper-pagination) {
        bottom: 20px !important;
    }
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img {
    object-fit: cover;
    object-position: center;
}

.slider-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.questionToggle {
    border: none;
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    transition: 0.5s;
  
    &:hover {
      background: rgb(223, 222, 222);
    }
  }
  
  .questionIcon{
    filter: grayscale(100%);
  }
  
  .questionToggleActive {
    transform: rotate(45deg);
    .questionIcon{
        filter: grayscale(0);
    }
  }
  