.tour-details{
    background: #fffef8;

    &__main,&__grid{
        display: flex;
        flex-direction: column;
    }
    &__main{
        gap: 20px;

    }
    &__unTitle{
        font-size: 1.5rem;
        padding-bottom: 50px;
        @media (max-width: 480px) {
            font-size: 1rem;
        }
    }
}

.tour-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding-top: 40px;

    &__title{
        font-size: 1.5rem;
        transition: .4s ease-in-out;
        &.isActive{
            color: #315a51;
        }

        @media (max-width: 480px) {
            font-size: 1rem;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 0;
        padding-bottom: 0;
        overflow: hidden;
        transition: .4s ease-in-out;
       &.isActive{
            max-height: 200px;
            padding-bottom: 40px;
        }
    }

}

.wrapper {
    width: 100%;
    height: 80vh;
    position: relative;
  }
  
  .mySwiper {
    width: 100%;
    height: 100%;
    :global(.swiper-pagination) {
      bottom: 20px !important;
    }
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .img {
    object-fit: cover; 
    object-position: center;
  }