.tour-details {
    background: #fffef8;

    &__main,
    &__grid {
        display: flex;
        flex-direction: column;
    }

    &__main {
        gap: 20px;

    }

    &__unTitle {
        padding-top: 50px;
        font-size: 2.5rem;
        padding-bottom: 50px;

        @media (max-width: 480px) {
            font-size: 2rem;
        }
    }
    &__aside{
        display: grid;
        grid-template-columns: 2fr 1fr ;
        gap: 50px;
        @media (max-width : 980px)  {
            grid-template-columns: 1fr;
        }
    }
    &__grid{
        grid-row: 1/3;
    }
}

.tour-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 20px 0 ;
    

    &__title {
        font-size: 18px;
        font-weight: 600;
        transition: .6s ease-in-out;

        &.isActive {
            color: #315a51;
        }

        @media (max-width: 480px) {
            font-size: 1rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0;
        max-height: 0;
        padding-top: 0;
        overflow: hidden;
        transition: .6s ease-in-out;

        &.isActive {
            max-height: 500px;
            gap: 20px;
            padding-top: 20px;
        }
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 480px) {
            gap: 50px;
        }
    }

}

.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mySwiper {
    width: 100%;
    height: 100%;

    :global(.swiper-pagination) {
        bottom: 20px !important;
    }
}

.imageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
    .slider-title{
        text-align: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    }
}

.img {
    object-fit: cover;
    animation: zoomEffect 8s infinite alternate;
}

@keyframes zoomEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}


.slider-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.questionToggle {
    border: none;
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    transition: 0.5s;
  
    &:hover {
      background: rgb(223, 222, 222);
    }
  }
  
  .questionIcon{
    filter: grayscale(100%);
  }
  
  .questionToggleActive {
    transform: rotate(45deg);
    .questionIcon{
        filter: grayscale(0);
    }
  }
  

.tour-aside{
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.related{
    background: #fffef8;
    padding-top: 50px;
    .related-tours{
        display: flex;
        flex-direction: column;
        gap: 30px;
        &__head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #315a51;
            font-weight: 400;
            .related-tours__link{
                color: black;
                transition: .3s ease-in-out;
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 400;
                &:hover{
                    text-decoration: none;
                   color: #5e8c7b;
                    .related-tours__arrow{
                        transform: translateX(5px);
                    }
                }
                .related-tours__arrow{
                   width: 30px;
                   height: 30px;
                   transition: .3s ease-in-out;
                }
            }
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 30px;
            width: 100%;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}