.info {
  padding: 50px 0;
  background: #fffef8;
  color: #315a51;
  font-size: 1.125rem;
  font-weight: 600;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  padding: 30px 60px;
  align-items: center;
  border: 1px solid #5e8c7b;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 50px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
}

.description {
  font-size: 0.875rem;
  font-weight: 400;
}

.image {
  width: 100%;
  height: 100%;
}
@media (min-width: 481px) and (max-width: 768px) {
  .menu {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .details {
    align-items: center;
    text-align: center;
    padding-right: 0;
  }
}
@media (max-width: 480px){
  .info {
    padding: 32px 0;
  }
  .menu {
    grid-template-columns: 1fr;
    padding: 24px;
    gap: 30px;
  }
  .details {
    align-items: center;
    text-align: center;
    padding-right: 0;
    gap: 24px;
  }
}

