.answer {
  background: #fffef8;
  padding: 50px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #315a51;
  font-size: 18px;
  font-weight: 600;
}

.title {
  font-size: 36px;
  text-align: center;
}

.questions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  border-bottom: 1px solid #5e8c7b;
  cursor: pointer;

  &:nth-of-type(1) {
    border-top: 1px solid #5e8c7b;
  }
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionText {
  font-size: 18px;
  font-weight: 600;
}

.questionToggle {
  border: none;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  transition: 0.5s;

  &:hover {
    background: rgb(223, 222, 222);
  }
}

.questionToggleActive {
  transform: rotate(45deg);
}

.answerText {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 0px;
  padding-top: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.answerTextHidden {
  max-height: 500px;
  padding-top: 30px;
}

.questionIcon {
  width: 24px;
  height: 24px;
}
