.reviews {
  padding: 50px 0;
  background: #fffef8;
  color: var(--color-emerald);

  .title {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.menu {
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
}


.main {
  display: flex;
  gap: 16px;
  margin-left: calc((100vw - 1115px) / 2);
  padding-left: 20px;
  padding-right: 20px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
  & > * {
    flex: 0 0 360px;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
  }
    .main__img {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 1200px) {
  .main {
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .main > * {
    flex: 0 0 60%;
  }
}

@media (max-width: 600px) {
  .main > * {
    flex: 0 0 85%;
  }

  .main > * {
    align-items: center;
    gap: 20px;
  }
}


@media (max-width: 480px) {
  .reviews {
    padding: 32px 0;
  }
  .header {
    margin-bottom: 24px;
  }
  .main {
    gap: 20px;
  }
  .main__img {
    height: 280px;
  }
}