.reviews {
  padding: 50px 0;
  background: #fffef8;
  color: #315a51;
  .title{
    text-transform: uppercase;
  }
}

.menu {
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.main {
  display: flex;
  justify-content: center;
}

.member {
  max-width: 800px;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}
