.asideWrapper{
    border: 1px solid #315a51;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px;
    border-radius: 15px;
    background: #fffef8;
    .form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .inputGroup{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .input{
                padding: 5px 10px;
                cursor: pointer;
                transition: .3s ease-in-out;
                border-radius: 5px;
                border: 1px solid #315a51 ;
                font-size: 15px;
                &:focus{
                    outline: #315a51;
                }
            }
            .label{
                font-size: 1rem;
            }
        }
        .submitBtn{
            background: #315a51;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            color: white;
            padding: 10px 0;
        }
    }
}