.header {
  padding: 20px 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: none;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out,
    visibility 0.3s ease-out;
  opacity: 0;
}

.header.isVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.headerBlock {
  width: 100%;
}

.headerInner {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgb(224, 221, 221);
  gap: 10%;
  padding: 20px;
  justify-content: space-between;
  @media (max-width : 1200px) {
    gap: 5%;
  }
}

.mainLogo {
  text-decoration: none;
  display: flex;
  align-items: center;
  .logo{
    width: 80px;
    height: 80px;
  }

}

.headerControllers {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.headerMenu {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    font-weight: 600;
    color: #597797;
    text-decoration: none;
    transition: 0.4s ease-in-out;

    &:hover {
      color: #3e546b;
    }
  }
}

.headerButton {
  p {
    background-color: #5b7687;
    padding: 8px 30px;
    border-radius: 8px;
    color: #fffef8;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
  }
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  display: flex;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #5e8c7b;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #5e8c7b;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.hamburger {
  display: none;
}

@media (max-width: 480px){
  .header{
    justify-content: space-between;
    padding: 5px 20px;
  }
  .headerInner{
    justify-content: space-between;
    padding: 5px 20px;
  }
  .headerControllers{
    background: rgb(224, 221, 221);
    border-top: 2px solid #bbbaba;
  }
  .upHeader {
    display: none;
  }
  .headerMenu{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  .headerButton , .headerButtonLink{
    display: inline-block;
    width: 100%;
  }
  .headerButtonLink{
    padding: 15px 0 !important;
    text-align: center;
  }
}


@media (min-width: 481px) and (max-width: 768px){
  .headerInner{
    justify-content: space-between;
    padding: 5px 20px;
  }
  .header{
    padding: 20px 0 0 0;
  }
  .headerControllers{
    background: rgb(224, 221, 221);
    border-top: 2px solid #bbbaba;
  }
  .upHeader {
    display: none;
  }
  .headerMenu{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  .headerButton , .headerButtonLink{
    display: inline-block;
    width: 100%;
  }
  .headerButtonLink{
    padding: 15px 0 !important;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: inline-block;
  }

  .header__nav {
    margin: 0;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: normal;
  }

  .header__nav-item,
  .header__nav-item:nth-of-type(1) {
    padding: 30px 15px;
  }

  .headerControllers {
    position: absolute;
    top: 100%;
    left: 0;
    min-height: calc(100vh - 100px);
    background: rgb(224, 221, 221);
    padding: 0 15px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 8888;

    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;

    .headerMenu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .headerMenuLink{
        text-align: start;
      }
    }


    &.is-active {
      visibility: visible;
      opacity: 1;
    }
  }

  .header.is-active {
    background: rgb(224, 221, 221);
  }

  .allTours {
    width: auto;
  }
}