.header {
  padding: 10px 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: none;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-out;
  opacity: 0;
  display: flex;

  &.isVisible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.headerBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background: rgba(224, 221, 221, 0.98);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0 20px;
  width: 95%;
  height: 65px;
  z-index: 1001;

  @media (max-width: 992px) {
    width: 100%;
    border-radius: 12px;
  }
}

.mainLogo {
  z-index: 9999;
  .logo {
    width: 60px;
    height: auto;
  }
}

.headerMenuLink {
  position: relative;
  font-weight: 600;
  color: var(--color-emerald);
  text-decoration: none;
  transition: color 0.3s ease;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: var(--color-orange);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  &:hover {
    color: var(--color-orange);
    text-decoration: none;
    &::after {
      transform: scaleX(1);
    }
  }
  &.isActive {
    color: var(--color-orange);
    text-decoration: none;
    &::after {
      transform: scaleX(1);
    }
  }
}

.headerControllers {
  width: 100%;
  @media (max-width: 992px) {
    position: fixed;
    inset: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.4s ease,
      visibility 0.4s;
    z-index: 10000;

    &.is-active {
      visibility: visible;
      opacity: 1;

      .headerControllersWrapper {
        transform: translateX(0);
      }
      .headerMenu {
        .headerMenuLink {
          opacity: 1;
          transform: translateY(0);
          transform: translateY(20px);
          transition: all 0.4s ease;
          &:nth-child(1) {
            transition-delay: 0.1s;
          }
          &:nth-child(2) {
            transition-delay: 0.2s;
          }
          &:nth-child(3) {
            transition-delay: 0.3s;
          }
          &:nth-child(4) {
            transition-delay: 0.4s;
          }
          &:nth-child(5) {
            transition-delay: 0.5s;
          }
          &:nth-child(6) {
            transition-delay: 0.6s;
          }
        }
      }
    }
    .headerControllersWrapper {
      align-items: flex-start;
      border: none;
    }
    .headerMenu {
      flex-direction: column;
    }

    .headerControllersWrapper {
      width: 65%;
      max-width: 400px;
      background: white;
      height: 100vh;
      padding: 80px 40px;
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
    }
  }
}

.headerControllersWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-left: 2px solid #bbbaba;
  padding-left: 15px;
}

.headerMenu {
  display: flex;
  gap: 25px;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 10002;
  background: none;
  border: none;
  padding: 10px;

  @media (max-width: 992px) {
    display: inline-block;
  }

  &-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  &-inner {
    display: block;
    top: 2px;
    &,
    &::before,
    &::after {
      width: 30px;
      height: 3px;
      background-color: var(--color-emerald);
      border-radius: 4px;
      position: absolute;
      transition:
        transform 0.15s ease,
        opacity 0.15s ease;
    }
    &::before,
    &::after {
      content: "";
      display: block;
    }
    &::before {
      top: 10px;
    }
    &::after {
      top: 20px;
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(45deg);
      &::before {
        transform: rotate(-45deg) translate3d(-5.7px, -6px, 0);
        opacity: 0;
      }
      &::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
      }
    }
  }
}

.headerButton {
  background-color: var(--color-orange);
  padding: 10px 25px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  @media (max-width: 992px) {
    padding: 10px 15px;
    font-size: 0.875rem;
  }
}
