.philosophien {
  padding: 50px 0;
  background: #fffef8;
}

.menu {
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--color-emerald);
  font-weight: 600;
}

.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 50px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.img {
  width: 100%;
  height: 45vh; 
  
  // Магия: картинка заполняет блок, не деформируясь
  object-fit: cover; 
  
  // Можно уточнить, какую часть фото оставить (например, центрировать)
  object-position: center; 
  
  border-radius: 20px; // Если хочешь мягкие углы как у остального дизайна
}

.desc {
  font-size: 1rem;
  color: var(--color-emerald);
  list-style: none;
  padding: 0;

  li {
    list-style: none;
    font-style: italic;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .philosophien {
    padding: 32px 0;
  }
  .header {
    margin-bottom: 24px;
  }
  .main {
    gap: 24px;
  }
}
