@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


p,
label,
h1,
h2,
h3,
span,
figcaption,
figure {
  margin: 0 !important;
}

button:focus {
  outline: none;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

html {
  scrollbar-gutter: stable;
}

::selection {
  background: #315a51;
  color: #fff;
}