@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


p,
label,
h1,
h2,
h3,
span,
figcaption,
figure {
  margin: 0 !important;
}

button:focus {
  outline: none;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}