@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

/* @font-face {
  font-family: 'Atyp Text';
  src: url('/fonts/atyptext-semibold.woff2') format('woff2'),
       url('/fonts/AtypText-Semibold.woff') format('woff');
  font-style: normal;
  font-display: swap;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  /* font-family: 'Atyp Text', sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


p,
label,
h1,
h2,
h3,
span,
figcaption,
figure {
  margin: 0 !important;
}

button:focus {
  outline: none;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

html {
  scrollbar-gutter: stable;
}

::selection {
  background: #315a51;
  color: #fff;
}