.reise {
  padding: 80px 0;
  background: #fffef8;

  @media (max-width: 768px) {
    padding: 40px 0;
  }
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 2rem;
  color: var(--color-emerald);
  font-weight: 600;
  letter-spacing: 2px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    padding-bottom: 20px;
    gap: 20px;
    scroll-snap-type: x mandatory;
  }
}

.cardMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.card {
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  justify-content: space-between;
  gap: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffef8;
  width: 350px;
  height: 300px;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .cardTitle {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 10;
  }

  &:hover {
    text-decoration: none;
    color: #fffef8;
  }
  @media (max-width: 480px) {
    width: 280px;
    padding: 30px;
  }
}

.cardHead {
  position: relative;
}

.cardButton {
  background: rgba(255, 255, 248, 0.2);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  backdrop-filter: blur(2px);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  z-index: 10;
  text-transform: uppercase;
  font-weight: 500;

  &:hover {
    background: var(--color-orange);
    border: 1px solid var(--color-orange);
    color: white;
  }
}
