.reise {
  padding: 50px 0;
  background: #fffef8;

}


.menu {
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2.25rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #315a51;
  font-weight: 500;
}

.subtitle {
  font-size: 1.125rem;
  color: #666;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow: visible;
  height: auto;
  width: 100%;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.navItem {
  border: none;
  background: none;
  border-bottom: 3px solid #eeeeee;
  color: #a7a7a7;
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.6s;

  &:hover,
  &.active {
    border-bottom: 3px solid #315a51;
    color: #315a51;
    font-weight: 500;
  }
}

.content {
  display: flex;
  width: 100%;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: auto;
 
}

.content::-webkit-scrollbar {
  display: none;
}


.reise__card{
  display: grid;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-align: center;
  gap: 20px;
  border-radius: 10px;
  &:hover{
    text-decoration: none;
  }
  .card__tourImg{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    @media (max-width: 480px) {
      width: 280px;
    }
  }
  .reise__tourTitle{
    color: #315a51;
    
  }

}

@media (max-width: 480px) {
  .reise {
    padding: 32px 0;
  }
  .header {
    margin-bottom: 24px;
  }
  .content {
    gap: 20px;
  }
}