.signTour {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 100vh;
  left: 0;
  outline: none;
  overflow-y: auto;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 10000001;
  opacity: 0;
  visibility: hidden;
  &.isOpen {
    opacity: 1;
    visibility: visible;
    .content{
      opacity: 1;
      visibility: visible;
    }
  }
}



.close {
  position: absolute;
  width: 2%;
  top: 65px;
  right: 25%;
  z-index: 10;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: #315a51;
  gap: 20px;
  width: 40%;
  text-align: center;
  z-index: 10;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
  color: #315a51;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 20px;
}

.input {
  color: #315a51;
  border: 1px solid #5e8c7b;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;

  &:nth-of-type(3) {
    width: 50%;
  }

  &::placeholder {
    color: #315a51;
  }
}

.button {
  background: #5e8c7b;
  border: none;
  padding: 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 1.25rem;
  transition: 0.4s;

  &:hover {
    background: #ffffff;
    transition: 0.4s;
    color: black;
  }
}

.policy {
  font-size: 0.75rem;
  color: #315a51;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 481px) and (max-width: 768px) {

  .content {
    width: 100%;
    padding: 50px 30px;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9375rem;
  }

  .input {
    padding: 15px 10px;
    font-size: 0.9375rem;
  }

  .close {
    width: 8%;
    top: 170px;
    right: 6%;
  }

  .button {
    font-size: 1.0625rem;
  }

  .policy {
    font-size: 0.625rem;
  }
}

@media (max-width: 480px) {
  .content{
    width: 100% ;
    padding: 50px 30px;
  }
  .title{
    font-size: 1.5rem;
  }
  .description{
    font-size: 0.9375rem;
  }
  .input{
    padding: 15px 10px;
    font-size: 0.9375rem;
  }
  .close{
    width: 8%;
    top: 120px;
    right: 6%;
  }
  .button{
    font-size: 1.0625rem;
  }
  .policy{
    font-size: 0.625rem;
  }
}