.main {
  background: url("../../../public/images/main.AVIF");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 48px;
  color: #fbfbfb;
  text-transform: uppercase;
  text-align: center;
}
