.main {
  background: url("../../../public/images/slide11.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  &__desc{
    font-size: 1rem;
    font-weight: 400;
  }
  &__title{
    font-size: 3rem;
  }
}
