.socialIcons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 5%;
  bottom: 10%;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out,
    visibility 0.3s ease-out;
  z-index: 1000;
  opacity: 0;
}

.socialIcons.isVisible {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.socialMedia {
  text-decoration: none;
  color: #fffef8;
  margin-bottom: 15px;

  svg {
    width: 60px;
    height: 60px;
  }
}
